html {
   font-family: "Quicksand", sans-serif;
}

html,
body {
   margin: 0;
   padding: 0;
}

ul li {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
   outline: 0;
   /* cursor: auto; */
}

#navigationBar {
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   align-content: space-between;
   position: fixed;
   padding: 0.2em;
   align-items: center;
   /* border: 1px solid rgb(202, 198, 193); */
   background-color: rgba(255, 255, 255, 0.737);
   /* opacity: 0.5; */
   box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.251);
   backdrop-filter: blur(8px);
   z-index: 9999;
}

.titles {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.titles h1 {
   margin: 0;
   font-size: 30px;
}

.subtitle {
   margin: 0;
   font-size: 0.5rem;
   opacity: 0.8;
}


nav {
   padding: 0px;
   margin: 0px;

}

#navImg {
   background-image: url('images/firstPets.jpg');
   height: 80vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


#displayForNavList {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-end;
   align-content: space-between;
   width: 70%;
}

.navTitle {
   display: inline-block;
   padding: 1em;
   margin: 1em;
   text-align: end;
   border-radius: 10px;
   /* border: 1px solid black; */
   transition: transform 0.3s ease, background-color 0.3s ease;
}

hr {
   height: 50%;
   width: 50%;
}

.navTitle:hover {
   transform: scale(1.5);
}

#navButton {
   /* padding: 1em; */
   padding: 3px 10px 3px 10px;
   border-radius: 10px;
   text-align: end;
   display: flex;
   align-items: center;
   transition: box-shadow 1s ease, background-color 1s ease, transform 1s ease;
   /* border: 1px solid white; */
}

#navButton:hover {
   transform: scale(1.3);
}

svg {
   height: 2em;
   width: 2em;
   margin: 1em;
}

.circle-container {
   height: 1.5em;
   width: 1.5em;
   margin: 1em;
   border-radius: 50%;
   overflow: hidden;
   /* Clips the image to the border radius */
   display: flex;
   justify-content: center;
   align-items: center;
}

.circle-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* Ensures image covers area without stretching */
}

#authDropdown {
   position: fixed;
   top: 80px;
   right: 140px;
   display: flex;
   flex-direction: column;

   background: white;
   border-radius: 8px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
   overflow: hidden;

   z-index: 9999;
}

.dropSign,
.dropSignOut {
   padding: 1em;
   transition: transform 0.3s ease, background-color 0.3s ease;
}


main h2 {
   height: 200px;
   /* text-align: center; */
   font-size: 3em;
   width: 50%;
   /* padding-bottom: 1em; */
   color: rgb(39, 37, 36);
   border-bottom: 1px solid black;
   padding: 10px;
}

.firstP {
   width: 40%;
   height: 200px;
   font-size: 1.5em;
   padding-left: 40px;
}

main {
   margin-top: 3em;
}

.firstContainer {
   margin-top: 5em;
   width: 80%;
   height: 600px;
   margin: 2em auto;
   padding: 0.5em;
   border-radius: 10px;
   /* background-color: #4c684732; */
   background-image: url("images/vet.jpg");
   background-size: 500px, 400px;
   background-position: right center;
   background-repeat: no-repeat;
   box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.251);
   background-color: rgba(135, 155, 130, 0.478);

   opacity: 0;
   transform: translateY(40px);
   transition: opacity 800ms ease-in, transform 800ms ease-in;
   will-change: opacity, transform;
}

.firstContainer.show {
   opacity: 1;
   transform: translateY(0);
}

img {
   width: 200px;
   height: 400px;
   border-radius: 10px;
   /* transition: 2s; */
}

#vetImage {
   position: relative;
   /* top: 100px; */
   /* pushes image DOWN */
   /* margin-left: 0.5em; */
   z-index: 2;
}

#firstBtn {
   padding: 17px 40px;
   border-radius: 50px;
   cursor: pointer;
   border: 0;
   background-color: white;
   box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   font-size: 15px;
   transition: all 0.5s ease;
}

#firstBtn:hover {
   letter-spacing: 3px;
   background-color: hsl(260, 12%, 5%);
   color: hsl(0, 0%, 100%);
   box-shadow: rgb(13, 12, 15) 0px 7px 29px 0px;
}

#firstBtn:active {
   letter-spacing: 3px;
   background-color: hsl(348, 80%, 48%);
   color: hsl(0, 0%, 100%);
   box-shadow: hsl(348, 80%, 48%) 0px 0px 0px 0px;
   transform: translateY(10px);
   transition: 100ms;
}

.btnDiv1 {
   margin-left: 200px
}

.secondContainer {
   margin-top: 5em;
   padding: 40px;
   background-color: aqua;
   min-height: 300px;
   width: 80%;
   border-radius: 10px;
   background-image: linear-gradient(to right,
         rgba(8, 8, 8, 0.338) 30%), url(images/catAdopt.jpg);
   background-repeat: no-repeat;
   background-size: 50%, cover;
   border-radius: 10px;
   height: 600px;
   background-position: right center;
   margin: 2em auto;
   padding: 0.5em;
   /* text-align: end; */
   opacity: 0;
   transform: translateY(40px);
   transition: opacity 800ms ease-in, transform 800ms ease-in;
   will-change: opacity, transform;
}

.secondContainer.show {
   opacity: 1;
   transform: translateY(0);
}

#secondTitle {
   color: white;
   border-color: white;
   margin-left: 12em;
}

.secondP {
   color: white;
   font-size: 1.5em;
   padding-left: 52%;
}

.btnDiv2 {
   padding-left: 80%;
}

.farmLands {
   background-image: linear-gradient(to right,
         rgba(8, 8, 8, 0.753) 50%), url(images/farm.jpg);
   background-size: cover;
   min-height: 800px;
   margin-top: 5em;
}

.thirdTitle {
   color: white;
   /* padding: 30px 25px 30px 25px; */
   text-align: centers;
   border: none;
   padding-top: 100px;
   font-size: 5em;
}

.thirdP {
   color: white;
   font-size: 2em;
   text-align: end;
   padding: 10px;
}

.btnDiv3 {
   margin-right: 20%;
}

footer {
   min-height: 300px;
   background-color: black;
}