html {
   font-family: "Quicksand", sans-serif;
}

html,
body {
   margin: 0;
   padding: 0;
}

ul li {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
   outline: 0;
   /* cursor: auto; */
}

#navigationBar {
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   align-content: space-between;
   position: fixed;
   padding: 0.2em;
   align-items: center;
   /* border: 1px solid rgb(202, 198, 193); */
   background-color: rgba(255, 255, 255, 0.737);
   /* opacity: 0.5; */
   box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.251);
   backdrop-filter: blur(8px);
}

.titles {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.titles h1 {
   margin: 0;
   font-size: 30px;
}

.subtitle {
   margin: 0;
   font-size: 0.5rem;
   opacity: 0.8;
}


nav {
   padding: 0px;
   margin: 0px;

}

#navImg {
   background-image: url('images/firstPets.jpg');
   height: 80vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


#displayForNavList {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-end;
   align-content: space-between;
   width: 70%;
}

#navTitle {
   padding: 1em;
   margin: 1em;
   text-align: end;
   border-radius: 10px;
   /* border: 1px solid black; */
}

#navButton {
   padding: 1em;
   border-radius: 10px;
   text-align: end;
   display: flex;
   align-items: center;
   /* border: 1px solid white; */
}

svg {
   height: 2em;
   width: 2em;
   margin: 1em;
}

.circle-container {
   height: 1.5em;
   width: 1.5em;
   margin: 1em;
   border-radius: 50%;
   overflow: hidden;
   /* Clips the image to the border radius */
   display: flex;
   justify-content: center;
   align-items: center;
}

.circle-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* Ensures image covers area without stretching */
}